[Unit]
Description=Stampede Server
After=docker.service
Requires=docker.service

[Service]
Environment=STAMPEDE_PORT=9080
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/mkdir -p /var/lib/cattle
ExecStart=/bin/bash -c "docker rm -f cattle-stampede-server 2>/dev/null; exec docker run -i --name cattle-stampede-server --rm --privileged -v /var/lib/cattle:/var/lib/cattle -e PORT=${STAMPEDE_PORT} -p ${STAMPEDE_PORT}:8080 -e PRIVATE_MACHINE_IP=${COREOS_PRIVATE_IPV4} -e PUBLIC_MACHINE_IP=${COREOS_PUBLIC_IPV4} cattle/stampede-server:dev"
ExecStopPost=/usr/bin/docker stop cattle-stampede-server
Restart=always
RestartSec=10s

[Install]
WantedBy=multi-user.target

[X-Fleet]
X-ConditionMachineID=%MACHINE%
